/*****************************************************************************
 Comment module
 *****************************************************************************/
.comment .control-links ul.links a {
  color: #d17226;
}

/*****************************************************************************
 Node module
 *****************************************************************************/
.node .control-links .node_button_read_more {
  background: url(images/btn-orange.gif) no-repeat left top;
}
.node .control-links ul.links a {
  color: #d17226;
}
