/*****************************************************************************
 Comment module
 *****************************************************************************/
.comment .control-links ul.links a {
  color: #cd5863;
}

/*****************************************************************************
 Node module
 *****************************************************************************/
.node .control-links .node_button_read_more {
  background: url(images/btn-pink.gif) no-repeat left top;
}
.node .control-links ul.links a {
  color: #cd5863;
}
