#tabs{ 
  margin-top:5px;
}

#tabs ul.primary * {
  background-color: transparent !important;
}

#tabs ul.primary {
  list-style: none;
  padding: 0px 0em 0.26em 1em;
  margin: -0.5em 0px 0.75em 0px;
  height: 20px;
  white-space: nowrap;
  border-width: 0px;
  border-bottom: 1px solid #2888e6;
}

#tabs ul.primary li {
  display: block;
  float: left;
  _width: 1px;
  height: 20px;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 2px; /* fudgyness to make tabs stay put on text resizing */
  _top: 6px;
}

#tabs ul.primary li a {
  display: block;
  height: 20px;
  margin: 0px;
  padding: 0px;
  margin-right: 0.5em;
  text-decoration: none;
  border-width: 0px;
  position: relative;
  top: 0.19em; /* fudgyness to make tabs stay put on text resizing */
  _top: 0.25em;
  color:#FFFFFF;
}

#tabs ul.primary li a .a {
  display: block;
  height: 20px;
  padding: 2px 0em 3px 0em;
  margin: 0px;
  padding: 0px;
  background-image: url(images/main-tab1.png);
  background-repeat: no-repeat;
  background-position: 100% 0px;
}

#tabs ul.primary li a .a .b {
  display: block;
  margin: 0px;
  height: 20px;
  padding: 2px 1em 3px;
  background-image: url(images/main-tab2.png);
  background-repeat: no-repeat;
  background-position: 0% 0px;
  _cursor: hand;
}

#tabs ul.primary li.active a {
  background-color: transparent;
  border-width: 0px;
}

#tabs ul.primary li.active a .a {
  background-position: 100% -60px;
}

#tabs ul.primary li.active a .a .b {
  background-position: 0% -60px;
}

#tabs ul.primary li a:hover {
  border-width: 0px;
  text-decoration: none !important;
  color:#333333;
}

#tabs ul.primary li a:hover .a {
  background-position: 100% -30px;
}

#tabs ul.primary li a:hover .a .b {
  background-position: 0% -30px;
}

#tabs ul.primary li.active a:hover {
  background-color: #fff;
  border-width: 0px;
}

#tabs ul.primary li.active a:hover .a {
  background-position: 100% -60px;
}

#tabs ul.primary li.active a:hover .a .b {
  background-position: 0% -60px;
}